@charset "UTF-8";

.flex{display: flex;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}
.start{justify-content: flex-start;}
.end{justify-content: flex-end;}

.view-size{width: 1180px; margin: 0 auto;}